<div>
	<div ng-include="'menu.html'"></div>
	<snap-dragger></snap-dragger>
	<snap-content snap-opt-tap-to-close="false" class="bg-dark">
		<a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
			</span>
		</a>
		
		<div class="fr">
		<h2><small>Pay Savings</small></h2>
		</div>
		<div class="jumbotron">
			<div class="container">
				<form name="expense_form" role="form" class="bottom-75" ng-submit="expense_form.$valid ? paysavings() : ''" novalidate="">
					<div class="table-form">
						<div class="form-groups">
							<div class="form-group">
								<label>Amount</label>
								<input type="number" required ng-model="expense.amount" class="form-control input-lg" id="">
							</div>
							<div class="form-group">
								<label>Notes</label>
								<input type="text" required ng-model="expense.notes" class="form-control input-lg" id="">
							</div>
							<div class="form-group" ng-if="user.isAdmin">
								<label>Paid For</label>
								<select required class="form-control input-lg" ng-model="expense.user">
									<option value="">Select user</option>
									<option ng-repeat="us in users" value="{{us.id}}">{{us.name}}-{{us.phone}}</option>
								</select>
							</div>
							<input ng-disabled="expense_form.$invalid" type="submit" class="btn btn-primary" value="Paid Now" name="">
						</div>
					</div>		
				</form>
			</div>
		</div>
	</snap-content>	
</div>
